.container{
    width: 300px;
}

/*#projects{*/
    /*display: block;*/
    /*border: 1px solid #D6D6D6;*/
    /*margin-bottom: 5px;*/
    /*background: #E6FDFF;*/
    /*padding: 10px;*/
    /*border-radius: 5px;*/
/*}*/

/*.block {*/
    /*border: 1px solid #D6D6D6;*/
    /*padding: 5px;*/
    /*border-radius: 5px;*/
    /*background: aliceblue;*/
    /*margin-bottom: 10px;*/
/*}*/

.title{
    font-size: 14px;
    margin-bottom: 5px;
}

button.btn{
    margin-bottom: 7px;
}

button.btn:first-child {
    margin-top: 7px;
}